main {
  animation-name: rotate-back-and-forth;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #8cab38;
}

label {
  display: block;
  padding: 10px;
}

form {
  margin: 0 auto;
  max-width: 50%;
  min-width: 50%;
  padding-bottom: 20px;
}

input[type="submit"] {
  display: block;
  width: 20%;
  margin: auto;
  height: 2em;
  background-color: #ffffff;
  border: 2px solid #aed544;
}

fieldset {
  padding: 0px;
  border: none;
}

input,
textarea,
select {
  min-height: 2em;
  text-align: center;
  width: 100%;
  margin: 10px 0px 0px 0px;
  border: 1px solid #8cab38;
  border-radius: 10px;
}

input:focus,
textarea:focus {
  outline: 2px solid #aed544;
}

#news-and-offers {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: unset;
}

@keyframes rotate-back-and-forth {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

@media (max-width: 650px) {
  input[type="submit"] {
    display: block;
    width: 50%;
    margin: auto;
    height: 2em;
    background-color: #ffffff;
    border: 2px solid #aed544;
  }
}
