/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* GENERAL STYLES */
p {
  margin: 1em auto;
  text-align: center;
}
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Questrial", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  border-radius: 0px;
}
a:hover {
  text-decoration: underline;
}

/* HEADER STYLES */
header {
  background: #ffffff;
  text-align: center;
  padding: 20px;
}
nav a {
  color: #000000;
  padding: 20px;
}

/* MAIN CONTENT STYLES */
main {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

/* FOOTER STYLES */
footer {
  width: 80%;
  padding: 20px;
  position: relative;
  text-align: right;
  background-color: #ffffff;
}

/* FORM STYLES */
label {
  display: block;
  padding: 10px;
}

form {
  margin: 0 auto;
  max-width: 50%;
  min-width: 50%;
  padding-bottom: 20px;
}

input[type="submit"] {
  display: block;
  width: 20%;
  margin: auto;
  height: 2em;
  background-color: #ffffff;
  border: 1px solid #000000;
}

fieldset {
  padding: 0px;
  border: none;
}

input,
textarea,
select {
  min-height: 2em;
  text-align: center;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

#news-and-offers {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: unset;
}

#healthy-lifestyle {
  height: 600px;
  width: 100%;

  background: url(../images/healthy-lifestyle.jpg) no-repeat no-repeat center;
  overflow: hidden;
  position: relative;
}

section {
  text-align: center;
}

section > div {
  display: flex;
  justify-content: center;
}

section > div > span {
  margin: 0 60px;
}

.about {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
