/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* GENERAL STYLES */

body {
  background-color: #ccf0ff;
  margin: 0;
  font-family: "Questrial", sans-serif;
}

header a {
  color: #666666;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: ;
  margin-right: 20px; /* Adds spacing between links */
}
