/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

/* GENERAL STYLES */
p {
  text-align: justify;
  text-indent: 20px;
}
body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Questrial", sans-serif;
}

a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  color: hsl(76, 63%, 55%);
}

h2 {
  font-size: 16px;
  padding: auto;
}

/* HEADER STYLES */
#logo {
  float: left;
  padding: 20px;
  margin: 0 auto;
}

header {
  background: #ffffff;
  padding: 20px;
}
nav {
  float: right;
  padding: 20px;
}
nav a {
  color: #666666;
  padding: 20px;
}

/* MAIN CONTENT STYLES */
main {
  text-align: left;
  padding: 20px;
  font-size: 20px;
  clear: left;
  margin: 20px 0 0 20px;
}

/* FOOTER STYLES */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  background: white;
}
footer a {
  padding: 10px;
}

/* FORM STYLES */
label {
  display: block;
  padding: 10px;
}

form {
  margin: 0 auto;
  max-width: 50%;
  min-width: 50%;
  padding-bottom: 20px;
}

input[type="submit"] {
  display: block;
  width: 20%;
  margin: auto;
  height: 2em;
  background-color: #ffffff;
  border: 1px solid #000000;
}

fieldset {
  padding: 0px;
  border: none;
}

input,
textarea,
select {
  min-height: 2em;
  text-align: center;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

#news-and-offers {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: unset;
}

#healthy-lifestyle {
  height: 600px;
  width: 100%;
  background: url(../images/healthy-lifestyle.jpg) no-repeat no-repeat center;
  overflow: hidden;
  position: relative;

  animation-name: rotate-back-and-forth;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#photos img {
  max-width: 100%;
  height: auto;
}

section {
  text-align: center;
}

section > div {
  display: flex;
  justify-content: center;
}

section > div > span {
  margin: 0 60px;
}

.about {
  width: 30%;
  padding: 20px;
  text-align: justify;
  float: left;
}
.mission {
  width: 30%;
  padding: 20px;
  text-align: justify;
  float: left;
}

.content {
  width: 30%;
  padding: 20px;
  text-align: justify;
  float: left;
}
.contact-us {
  width: 30%;
  padding: 20px;
  text-align: justify;
  float: center;
}

#yvideo {
  width: 560px;
  height: 315px;
  padding: 20px;
}

.icons {
  height: 600px;
  width: 100%;
  background: url(../images/icons.jpg) no-repeat no-repeat center;
  background-size: contain;
}

.image-container {
  position: relative;
  color: #ffffff;
  background-color: #ffffff;
}

.image-container img {
  width: 100%;
}

.article-container {
  position: absolute;
  padding: 40px;
  width: 800px;
  float: right;
  text-align: right;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  margin-top: 50px;
}

@keyframes rotate-back-and-forth {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
